[Unit]
Description=Clash service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/opt/Clash/Clash
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target

